.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeTitle {
    font-size: 32px;
}

.homeTitle > svg {
    height: 48px;
    width: 48px;
    animation: expand 1s linear 0s infinite alternate;
}

@keyframes expand {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.48, 1.48);
    }
}

.rainbowText {
    font-weight: bold;
    animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
    0%   { color: red; }
    16%  { color: orange; }
    33%  { color: yellow; }
    50%  { color: green; }
    66%  { color: blue; }
    83%  { color: indigo; }
    100% { color: violet; }
}

.moveLeftRight {
    animation: left-right 3s linear infinite alternate;
}

@keyframes left-right {
    from {
        transform: translate(-50%, 0);
    }

    to {
        transform: translate(50%, 0);
    }
}