.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    background-color: lightgray;
    border-radius: 16px;
    padding: 16px;
    font-size: 16px;
}

.productCard > img {
    height: 40px;
    width: 40px;
}

.gutter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.gutter > input {
    width: 48px;
}
