.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 12% 24px 12%;

    gap: 48px;
}

.searchBar {
    display: flex;
    background-color: ivory;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-radius: 16px;
}

.searchBar > input {
    outline: none;
    border: none;
    background-color: transparent;
    border: none;
}


.searchBar > button {
    border: none;
    background-color: transparent;
    height: 24px;
    width: 24px;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 24px;
}