.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 12% 24px 12%;

    gap: 48px;
}

.searchBar {
    display: flex;
    background-color: lightgrey;
    align-items: center;
    gap: 16px;
}

.searchBar > button {
    height: 32px;
    width: 32px;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    gap: 16px;
}